* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	font-family: "outfit", "sans-serif";
	background-color: hsl(212, 45%, 89%);
}
.qr__box {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 450px;
	width: 270px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	border-radius: 15px;
	text-align: center;
	background-color: #fff;
	padding: 2em;
}
.qr__box-header {
	margin-top: 1.5em;
	color: hsl(218, 44%, 22%);
	font-weight: bold;
}
.qr__box-p {
	margin-top: 1.5em;
	color: hsl(216, 15%, 48%);
	font-size: 1.5rem;
}
img {
	width: 100%;
	margin-top: 0;
	border-radius: 10px;
}
@media (min-width: 1440px) {
	.qr__box {
		height: 500px;
		width: 320px;
	}
}
